In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv('information.csv',engine='python')

In [32]:
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12-05-2013 01:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.590000e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10-01-2012 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,‰ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.590000e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.590000e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,06-11-2009 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.590000e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.590000e+17,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            51 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [34]:
df.gender.unique()

array(['male', 'female', 'brand', 'unknown', nan], dtype=object)

In [35]:
df=df.dropna(subset=['gender'])

In [36]:
df.gender.unique()
df=df[df.gender != 'unknown']
df = df[df.gender != 'brand']

In [37]:
df=df[(df['gender:confidence'] >= 0.8)&(df['profile_yn:confidence'] >= 0.8)]

In [38]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10029 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               10029 non-null  int64
 1   _golden                10029 non-null  bool
 2   _unit_state            10029 non-null  object
 3   _trusted_judgments     10029 non-null  int64
 4   _last_judgment_at      9996 non-null   object
 5   gender                 10029 non-null  object
 6   gender:confidence      10029 non-null  float64
 7   profile_yn             10029 non-null  object
 8   profile_yn:confidence  10029 non-null  float64
 9   created                10029 non-null  object
 10  description            8775 non-null   object
 11  fav_number             10029 non-null  int64
 12  gender_gold            34 non-null     object
 13  link_color             10029 non-null  object
 14  name                   10029 non-null  object
 15  profile_yn_gold        33 non-null     object
 16  profileimage           10029 non-null  object
 17  retweet_count          10029 non-null  int64
 18  sidebar_color          10029 non-null  object
 19  text                   10029 non-null  object
 20  tweet_coord            62 non-null     object
 21  tweet_count            10029 non-null  int64
 22  tweet_created          10029 non-null  object
 23  tweet_id               10029 non-null  float64
 24  tweet_location         6897 non-null   object
 25  user_timezone          6690 non-null   object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 2.0+ MB

_unit_id                    0
_golden                     0
_unit_state                 0
_trusted_judgments          0
_last_judgment_at          33
gender                      0
gender:confidence           0
profile_yn                  0
profile_yn:confidence       0
created                     0
description              1254
fav_number                  0
gender_gold              9995
link_color                  0
name                        0
profile_yn_gold          9996
profileimage                0
retweet_count               0
sidebar_color               0
text                        0
tweet_coord              9967
tweet_count                 0
tweet_created               0
tweet_id                    0
tweet_location           3132
user_timezone            3339
dtype: int64

In [39]:
df=df.drop(['_last_judgment_at','gender_gold','user_timezone','tweet_location','profile_yn_gold','tweet_coord'],axis=1)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10029 entries, 0 to 20049
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               10029 non-null  int64
 1   _golden                10029 non-null  bool
 2   _unit_state            10029 non-null  object
 3   _trusted_judgments     10029 non-null  int64
 4   gender                 10029 non-null  object
 5   gender:confidence      10029 non-null  float64
 6   profile_yn             10029 non-null  object
 7   profile_yn:confidence  10029 non-null  float64
 8   created                10029 non-null  object
 9   description            8775 non-null   object
 10  fav_number             10029 non-null  int64
 11  link_color             10029 non-null  object
 12  name                   10029 non-null  object
 13  profileimage           10029 non-null  object
 14  retweet_count          10029 non-null  int64
 15  sidebar_color          10029 non-null  object
 16  text                   10029 non-null  object
 17  tweet_count            10029 non-null  int64
 18  tweet_created          10029 non-null  object
 19  tweet_id               10029 non-null  float64
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 1.5+ MB

In [41]:
df.isnull().sum()

_unit_id                    0
_golden                     0
_unit_state                 0
_trusted_judgments          0
gender                      0
gender:confidence           0
profile_yn                  0
profile_yn:confidence       0
created                     0
description              1254
fav_number                  0
link_color                  0
name                        0
profileimage                0
retweet_count               0
sidebar_color               0
text                        0
tweet_count                 0
tweet_created               0
tweet_id                    0
dtype: int64